@font-face {
    font-family: 'DS-DIGII';
    src: url("../font/ds_digital/DS-DIGII.TTF");
}

#divGame {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    position: relative;
}